.text {
    margin: auto;
    padding: 1em;
    width: 800px;
}

#map {
    width: 800px;
    height: 500px;
    border: 1px solid #aaa;
    margin: 0 auto;
}

.stationName{
    font-size:10px;
}

line,
circle.station {
	vector-effect: non-scaling-stroke;
}

line {
    stroke-width: 4;
}

line.stripe {
    stroke-width: 2;
}

circle.station {
    fill: #FFFFFF;
}

circle.connect {
    stroke-width: 1;
    stroke: #000000;
}

circle.station:hover{
    stroke-width: 6;
    stroke: yellow;
    fill: yellow;
}